---
import "@fontsource/spectral";

import "./styles.css";

interface Props {
	title: string;
}

const { title } = Astro.props;

const SEO = {
	description:
		"I am Abhishek Jha, a full stack software engineer from India. I specialize in building robust and scalable web applications.",
	keywords:
		"portfolio, javascript, developer, python, aws, full stack, frontend, backend, typescript, next, react, best portfolio, best developer portfolio, indian engineer, abhishek jha",
	image: "/images/profile-photo-transparent.png",
};
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href={SEO.image}
		/>
		<link
			rel="sitemap"
			href="/sitemap-index.xml"
		/>
		<link
			rel="canonical"
			href="https://abhijha.in"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<meta
			name="description"
			content={SEO.description}
		/>
		<meta
			name="keyword"
			content={SEO.keywords}
		/>
		<meta
			property="og:title"
			content={title}
		/>
		<meta
			property="og:description"
			content={SEO.description}
		/>
		<meta
			property="og:image"
			content={SEO.image}
		/>
		<meta
			property="og:url"
			content="https://abhijha.in"
		/>
		<meta
			property="og:type"
			content="website"
		/>
		<script
			src={import.meta.env.PUBLIC_SANKHYA_URL}
			type="text/javascript"
			defer
			is:inline
		></script>
		<title>{title}</title>
	</head>
	<body>
		<div class="page-container">
			<slot />
		</div>
	</body>
</html>
