---
import { Image } from "astro:assets";

import "./styles.css";
import { Icon } from "astro-icon/components";

export interface Props {
	companyName: string;
	companyLogo: string;
	companyWebsite: string;
	jobTitle: string;
	duration: string;
	points: string[];
	techStack: string[];
}

const {
	companyName,
	companyLogo,
	companyWebsite,
	jobTitle,
	duration,
	points,
	techStack,
} = Astro.props;
---

<div class="experience-card">
	<div class="experience-head">
		<Image
			src={companyLogo}
			alt={companyName}
			class="company-logo"
			width={48}
			height={48}
		/>

		<div class="company-description">
			<h3>
				{jobTitle} &middot; {companyName}
				<span>
					<a
						href={companyWebsite}
						target="_blank"
					>
						<Icon
							name="ri:external-link-line"
							title={companyWebsite}
							class="external-link"
						/></a
					>
				</span>
			</h3>

			<p>{duration}</p>
		</div>
	</div>
</div>
